@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.mode-toggle {
  bottom: $padding1;
  border-radius: $padding1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  position: absolute;
  right: $padding1;
  width: 35px;
  .mode-toggle-icon {
    font-size: 28px;
  }
  .toggle-slider {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 42px;
    position: relative;
    width: 100%;
    .slider-thumb {
      border-radius: 50%;
      height: 20px;
      position: absolute;
      width: 20px;
      transition:
        bottom 0.3s ease,
        background-color 0.3s ease;
    }
    .slider-track {
      border-radius: 10px;
      height: 100%;
      width: 4px;
    }
  }
}
.mode-toggle.dark {
  background-color: $button-background-colour-dark;
  .mode-toggle-icon {
    color: $text-colour-dark;
  }
  .toggle-slider {
    .slider-thumb {
      background-color: $border-colour-light;
      bottom: 0;
    }
    .slider-track {
      background-color: $text-muted-colour-dark;
    }
  }
}
.mode-toggle.light {
  background-color: $button-background-colour-light;
  .mode-toggle-icon {
    * {
      color: $button-background-soft-colour-light;
    }
  }
  .toggle-slider {
    .slider-thumb {
      background-color: $border-colour-dark;
      bottom: 22px;
    }
    .slider-track {
      background-color: $text-muted-colour-light;
    }
  }
}

.header {
  .header-title {
    font-family: $display-font;
    font-size: 70px;
    letter-spacing: 7px;
    margin: 0;
    text-align: center;
    width: 100%;
    @include center;
  }
}
.header.dark {
  color: $text-colour-dark;
}
.header.light {
  color: $text-colour-light;
}
.music-player {
  .music-player-record {
    background-color: $text-colour-light;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    bottom: $player-controls-height;
    left: $padding1;
    min-height: $player-controls-height * 3;
    position: absolute;
    transition:
      bottom 0.6s ease,
      background-color 0.6s ease;
    width: $player-width;
    .music-player-record-inner {
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      margin: $padding1;
      min-height: calc($player-width - #{$padding1 * 2});
    }
    .music-player-record-center {
      background-color: $text-colour-light;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      height: $player-width / 3;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: $player-width / 3;
    }
    .music-player-record-hole {
      background-color: $text-colour-dark;
      border-radius: 50%;
      height: $player-width / 12;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: $player-width / 12;
    }
  }
  .music-player-record.playing {
    .music-player-record-inner {
      animation: spin 21s linear infinite;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .music-player-record.hidden {
    bottom: -$player-controls-height * 3;
  }
  .music-player-selection {
    background-color: $text-colour-light;
    border-style: solid;
    border-width: 2px 2px 0 2px;
    bottom: $player-controls-height;
    left: $padding1;
    min-height: $player-controls-height * 1.5;
    position: absolute;
    transition: bottom 0.6s ease;
    width: $player-width;
    .music-player-selection-track {
      height: 50px;
      padding: $padding1;
      .music-player-selection-track-title {
        font-weight: bold;
      }
      .music-player-selection-track-artist {
        font-size: 14px;
      }
    }
    .music-player-selection-track.current {
      border-width: 2px 0;
      border-style: solid;
    }
    .music-player-selection-buttons {
      display: flex;
      flex-direction: column;
      gap: $padding1;
      height: $player-controls-height * 0.5;
      padding-top: 1px;
      position: absolute;
      right: $padding1;
      top: $player-controls-height * 0.5;
      .music-player-selection-button {
        cursor: pointer;
        font-size: 21px;
      }
    }
  }
  .music-player-selection.hidden {
    bottom: -$player-controls-height * 1.5;
  }
  .music-player-controls {
    background-color: $text-colour-light;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    left: $padding1;
    max-width: $player-width;
    min-height: $player-controls-height;
    min-width: $player-width;
    padding: $padding1;
    position: absolute;
    bottom: 0;
    .music-player-controls-playing {
      width: 100%;
      max-width: $player-width;
      .music-player-controls-playing-song {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
        width: 100%;
        max-width: 100%;
        .music-player-controls-playing-title {
          min-width: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: bold;
        }
        .music-player-controls-playing-artist {
          white-space: nowrap;
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }
    .music-player-controls-progress {
      .music-player-controls-progress-upper {
        display: grid;
        grid-template-columns: 1fr 84px;
        margin-top: $padding1;
        .music-player-controls-progress-buttons {
          display: grid;
          grid-template-columns: repeat(7, auto);
          justify-content: space-between;
          * {
            cursor: pointer;
          }
        }
        .music-player-controls-progress-time {
          padding-left: $padding1;
        }
      }
      .music-player-controls-progress-bar-container {
        height: $padding1 * 3;
        position: relative;
        .music-player-controls-progress-bar {
          height: $padding1;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
        .music-player-controls-progress-bar-tag {
          position: absolute;
          left: 0;
          width: $padding1;
          height: $padding1 * 3;
          top: 0;
        }
      }
    }
    .music-player-controls-toggle {
      bottom: $padding1;
      cursor: pointer;
      position: absolute;
      right: $padding1;
    }
  }
  &.dark {
    * {
      border-color: $button-background-colour-dark !important;
      color: $text-colour-dark;
    }
    .music-player-record-hole {
      background-color: $button-background-colour-dark;
    }
    .music-player-selection-buttons {
      * {
        color: $button-background-colour-dark;
      }
    }
    .music-player-controls-progress {
      .music-player-controls-progress-buttons {
        * {
          color: $button-background-colour-dark;
        }
        .music-player-controls-shuffle-button {
          &.not-active {
            * {
              color: $text-colour-dark;
            }
          }
        }
      }
      .music-player-controls-progress-bar-container {
        .music-player-controls-progress-bar {
          background-color: $text-colour-dark;
        }
        .music-player-controls-progress-bar-tag {
          background-color: $button-background-colour-dark;
        }
      }
    }
    .music-player-controls-toggle {
      color: $button-background-colour-dark;
    }
  }
  &.light {
    * {
      border-color: $button-background-colour-light !important;
      color: $button-background-soft-colour-light !important;
    }
    .music-player-record-hole {
      background-color: $button-background-colour-light;
    }
    .music-player-selection-buttons {
      * {
        color: $button-background-colour-light !important;
      }
    }
    .music-player-controls-progress {
      .music-player-controls-progress-buttons {
        * {
          color: $button-background-colour-light !important;
        }
        .music-player-controls-shuffle-button {
          &.not-active {
            * {
              color: $button-background-soft-colour-light !important;
            }
          }
        }
      }
      .music-player-controls-progress-bar-container {
        position: relative;
        .music-player-controls-progress-bar {
          background-color: $button-background-soft-colour-light;
        }
        .music-player-controls-progress-bar-tag {
          background-color: $button-background-colour-light;
          position: absolute;
        }
      }
    }
    .music-player-controls-toggle {
      color: $button-background-colour-light !important;
    }
  }
}

.navbar {
  display: flex;
  gap: 21px;
  justify-content: center;
  margin-top: -14px;
  width: 100%;
  @include center;
}

@media only screen and (max-width: 599px) {
  .header {
    .header-title {
      font-size: 42px;
      letter-spacing: 6px;
    }
  }

  .mode-toggle {
    bottom: $padding1 * 10;
  }

  .music-player {
    .music-player-record {
      bottom: 140px;
    }
    .music-player-selection {
      bottom: 140px;
    }
    .music-player-controls {
      padding-bottom: $padding1 * 10;

      .music-player-controls-toggle {
        bottom: $padding1 * 8;
      }
    }
  }
}
