@import "../../display/style/variables";

.header {
  margin: 0 auto;
  width: 420px;
  .navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .header-title-container {
    text-align: center;
    .header-title {
      font-family: $font01;
      font-size: 35px;
      letter-spacing: 5px;
    }
  }
}
.header-darkmode {
  .header-title-container {
    .header-title {
      text-shadow:
        0 0 6px rgba(242, 232, 218, 0.75),
        0 0 14px rgba(242, 232, 218, 0.55),
        0 0 26px rgba(242, 232, 218, 0.35),
        0 0 40px rgba(177, 53, 46, 0.45),
        0 0 70px rgba(177, 53, 46, 0.3);
    }
  }
}
.header-lightmode {
  .header-title-container {
    .header-title {
      text-shadow:
        0 1px 1px rgba(255, 255, 255, 0.75),
        0 0 6px rgba(142, 44, 39, 0.55),
        0 0 14px rgba(142, 44, 39, 0.35),
        0 0 28px rgba(177, 53, 46, 0.25),
        0 0 48px rgba(177, 53, 46, 0.15),
        0 0 70px rgba(177, 53, 46, 0.12);
    }
  }
}

.mode-toggle {
  bottom: 7px;
  font-size: 28px;
  position: absolute;
  right: 7px;
}

.music-player {
  .music-player-outside {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .music-player-selection {
    bottom: 67px;
    overflow: hidden;
    left: 7px;
    max-height: 480px;
    position: absolute;
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    width: 300px;
    will-change: max-height;
    .music-player-screen-container {
      min-height: 300px;
      padding: 10px;
      .music-player-screen {
        background-color: red;
        border-radius: 42px;
        height: 280px;
      }
    }
    .music-player-songs-container {
      max-height: 180px;
      overflow: hidden;
      position: relative;
      .music-player-songs-song {
        border-top-width: 1px;
        height: 60px;
        padding: 7px;
        .music-player-songs-song-title {
          max-height: 28px;
          max-width: 240px;
          overflow: hidden;
        }
      }
      .music-player-songs-icons {
        display: flex;
        height: 60px;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 60px;
        .music-player-songs-icons-left {
          margin-right: -7px;
          margin-top: 9px;
          .music-player-songs-current-icon {
            font-size: 42px;
          }
        }
        .music-player-songs-icons-right {
          .music-player-songs-scroll-icon {
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr;
            font-size: 30px;
            * {
              color: $colour09;
            }
          }
        }
      }
    }
  }
  .music-player-selection-closed {
    max-height: 0;
  }
  .music-player-collapsed {
    border-top-width: 2px;
    bottom: 7px;
    display: grid;
    grid-template-columns: 40px 1fr;
    left: 7px;
    position: absolute;
    width: 300px;
    .music-player-details-container {
      .music-player-details {
        .music-player-current-song {
          display: flex;
          justify-content: space-between;
          padding: 7px;
          .music-player-current-song-title {
            font-size: 21px;
            max-height: 28px;
            max-width: 150px;
            overflow: hidden;
          }
          .music-player-current-song-artist {
            font-size: 12px;
          }
        }
      }
    }
    .music-player-toggle-container {
      padding: 14px 7px;
      .music-player-toggle-icon {
        cursor: pointer;
        font-size: 28px;
      }
    }
  }
}

.music-player-darkmode {
  .music-player-selection,
  .music-player-collapsed {
    background-color: $colour02;
  }
  .music-player-selection {
    .music-player-songs-container {
      .music-player-songs-icons {
        .music-player-songs-icons-left {
          .music-player-songs-current-icon {
            * {
              color: $colour04;
            }
          }
        }
        .music-player-songs-icons-right {
          .music-player-songs-scroll-icon {
            * {
              color: $colour04;
            }
          }
        }
      }
    }
  }
}

.music-player-lightmode {
  .music-player-selection,
  .music-player-collapsed {
    background-color: $colour07;
  }
  .music-player-selection {
    .music-player-songs-container {
      .music-player-songs-icons {
        .music-player-songs-icons-left {
          .music-player-songs-current-icon {
            * {
              color: $colour04;
            }
          }
        }
        .music-player-songs-icons-right {
          .music-player-songs-scroll-icon {
            * {
              color: $colour04;
            }
          }
        }
      }
    }
  }
}
