@mixin full-height {
  max-height: 100vh;
  min-height: 100vh;
}
@mixin transition {
  transition:
    color 1.4s ease,
    background-color 1.4s ease;
}
@mixin center {
  margin-left: 50%;
  transform: translateX(-50%);
}
