@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.ttf");
}

$text-colour-light: #181914;
$text-muted-colour-light: #625f55;
$border-colour-light: #2a2c25;
$border-subtle-colour-light: #c9c3b6;
$button-background-colour-light: #176b45;
$button-background-hover-colour-light: #0e4f32;
$button-background-soft-colour-light: #cfe3d7;

$text-colour-dark: #f1eee5;
$text-muted-colour-dark: #a7a99e;
$border-colour-dark: #454a42;
$border-subtle-colour-dark: #292f2a;
$button-background-colour-dark: #35c878;
$button-background-hover-colour-dark: #62e39a;
$button-background-soft-colour-dark: #173c2a;

$display-font: "BebasNeue", sans-serif;
$text-font: "Montserrat", sans-serif;

$padding1: 7px;

$player-width: 300px;
$player-controls-height: 100px;
