@import "./variables";

* {
  border-color: $colour03;
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  color: $colour03;
  font-family: $font02;
  margin: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font01;
}

.app {
  background-color: $colour01;
  min-height: 100vh;
}
