@import "./variables";

* {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  font-family: $font02;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font01;
}

.app {
  min-height: 100vh;
}

.app-darkmode {
  * {
    color: $colour03;
  }
  background-color: $colour01;
  border-color: $colour03;
}

.app-lightmode {
  * {
    color: $colour08;
  }
  background-color: $colour06;
  border-color: $colour08;
}
